<div class = "container d-flex justify-content-center">
  <div>
    <h1>welcome to <i class="fas fa-book"></i>Bookers !!</h1>
    <p>In Bookers,<br>

    you can share and exchange your opinions , inpressions , and emotions<br>

    about various books!
    </p>
    <div class = "">
      <button class = "btn btn-primary btn-block m-2" type = "botton"><%= link_to "Log in", user_session_path, class: "btn text-light" %></button>
      <button class = "btn btn-success btn-block m-2" type = "botton"><%= link_to "Sign up", new_user_registration_path, class: "btn text-light" %></button>
    </div>
  </div>
</div>